@import "~office-ui-fabric-react/dist/sass/variables/_Responsive.Variables.scss";

.cdot-introduce-card {
  background-color: #0b0c0e;
  height: 130px;
  display: flex;
  width: 522px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  transition: 0.2s;

  @media (max-width: $ms-screen-max-lg) {
    width: 100%
  }

  &--icon {
    flex: 0 0 65px;
    margin-left: 33px;
    margin-right: 21px;
    width: 65px;
    height: 65px;
    transition: 0.2s;

    @media (max-width: $ms-screen-max-lg) {
      margin: 0 0.75rem
    }
  }

  &--content {
    flex: 0 1 auto
  }

  &:hover {
    background-color: white;
    color: black
  }

  &--title {
    font-size: 21px;
    color: white;

    @media (max-width: $ms-screen-max-lg) {
      font-size: 1.5rem
    }
  }

  &--introduction {
    font-size: 15px;
    color: #bcbcbc;

    @media (max-width: $ms-screen-max-lg) {
      font-size: 1rem
    }
  }
}
