@import "~office-ui-fabric-react/dist/sass/variables/_Responsive.Variables.scss";

.cdot-foot-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;

  &--banner {
    position: absolute
  }

  &--inner {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    padding-right: 101px;

    > * {
      margin-top: 2rem
    }

    @media (max-width: $ms-screen-max-xl) {
      padding: 0 0.5rem
    }
  }

  &--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .separator {
      margin: auto 18px
    }

    .copyright {
      color: #dbdbdb;
      font-size: 18px;
      line-height: 18px
    }
  }

  &--right {
    & * {
      margin: auto 22px
    }
  }
}
