@font-face {
  font-family: 'Roboto-Regular, Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium, Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Light, Roboto';
  src: url('../fonts/Roboto-Light.ttf');
}
