@import "~office-ui-fabric-react/dist/sass/Fabric";
@import "./variables";

.cdot-text-gradual-change {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent
}

html,
body {
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  font-family: Alata, Alata-Regular;
  background-color: #000;
  font-size: 12px
}

.cdot-stack {
  margin-left: auto;
  margin-right: auto;
  padding-left: $stack-padding;
  padding-right: $stack-padding;
  max-width: 1654px;

  @media (max-width: $ms-screen-max-lg) {
    margin: auto 0
  }
}

.cdot-title {
  margin-left: 130px;
  max-width: 1055px;

  @media (min-width: $ms-screen-min-md) and (max-width: $ms-screen-max-lg) {
    padding-left: 70px
  }

  @media (max-width: $ms-screen-max-md) {
    padding-left: 0.75rem;
    margin: auto 0
  }
}

.cdot-introduction {
  margin-left: 99px;
  margin-right: 190px;

  @media (max-width: $ms-screen-max-lg) {
    margin: auto 0
  }
}

.ms-Stack-inner {
  // fix: X-overflow
  width: 100%
}

.ms-Grid-row {
  // fix: display
  margin: 0
}
