@import "~office-ui-fabric-react/dist/sass/Fabric";

.cdot-title {
  color: white
}

.cdot-text-gradual-change {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent
}

html,
body {
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  font-family: Alata, Alata-Regular;
  background-color: #000
}
