@import "~office-ui-fabric-react/dist/sass/variables/_Responsive.Variables.scss";

$innovation-area-offset: 76;

.cdot-introduction-area {
  width: 100%;
  min-height: 756px;
  margin-bottom: $innovation-area-offset+px;
  display: flex;
  //
  background: no-repeat center center;
  background-color: transparent;
  background-size: cover;
  background-image: url("../../assets/images/background/bg2.png");

  @media (min-width: $ms-screen-max-md) {
    background-image: url("../../assets/images/background/bg2@2x.png")
  }

  &--inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1160px
  }

  &--title {
    font-size: 38px;

    @media (max-width: $ms-screen-max-md) {
      font-size: 24px
    }

    @media (max-width: $ms-screen-max-lg) {
      text-align: center
    }
  }

  &--content {
    font-size: 20px;
    color: #b3b3b3;

    @media (max-width: $ms-screen-max-md) {
      font-size: 1rem
    }

    @media (max-width: $ms-screen-max-lg) {
      text-align: center
    }
  }

  &--left {
    margin: auto 0;
    max-width: 421px;
    display: flex;
    flex-direction: column;

    @media (max-width: $ms-screen-max-lg) {
      justify-content: center;
      align-items: center
    }

    & > * {
      margin-top: 12px
    }
  }

  &--right {
    margin: auto 0;

    & > * {
      margin-top: 32px
    }
  }
}

.cdot-innovation-area {
  min-height: 756px;
  color: white;

  &--inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    min-height: 492px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%)
  }

  &--banner {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    width: calc(100% - 1.5rem);
    max-width: 1400px;
    min-height: 449px;
    padding: 0 0.75rem;
    background: url("../../assets/images/background/bg4.svg") center center no-repeat
  }

  &--title {
    font-size: 38px;
    text-align: center;
    margin-top: -$innovation-area-offset+px;

    @media (max-width: $ms-screen-max-md) {
      font-size: 24px
    }
  }

  &--content {
    max-width: 537px;
    padding-top: 13px;
    text-align: center;
    font-size: 20px;
    color: #b3b3b3;

    @media (max-width: $ms-screen-max-md) {
      font-size: 1rem
    }
  }
}

.cdot-news-area {
  min-height: 700px;
  background: url("../../assets/images/background/bg5.svg") center center no-repeat;

  &--inner {
    margin: 0 auto;
    display: flex;
    max-width: 1300px;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 1.5rem);
    padding: 0 0.75rem
  }

  &--title {
    font-size: 50px;
    text-align: center;

    @media (max-width: $ms-screen-max-md) {
      font-size: 24px
    }
  }

  &--content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    & > .cdot-news-card {
      margin: 0 8px
    }
  }
}

.cdot-participants-area {
  min-height: 1275px;

  &--inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  &--block {
    max-width: 682px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  &--title {
    text-align: center;
    font-size: 38px;

    @media (max-width: $ms-screen-max-md) {
      font-size: 24px
    }
  }

  &--introduction {
    text-align: center;
    font-size: 18px;
    color: #b3b3b3;

    @media (max-width: $ms-screen-max-md) {
      font-size: 1rem
    }
  }
}
